.btn {
  position: relative;
  width: 200px;
  height: 80px;
  color: #000;
  background-color: #fff;
  overflow: hidden;
}

.btn:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 50px;
  /* background-color: red; */
  margin: -20px;
  right: -5%;
  top: -5%;
  transform: rotate(45deg);
  /* box-shadow: 0 0 0 250px #fff; */
  border: 1px solid red;
}
